
.deck
  position relative
  display flex
  flex-direction column
  align-items center
  font-size 16pt

  img
    cursor pointer
    position absolute
    left 0
    height calc(100% - 1px);

  $v = 1ex
  $h = 1em
  .cardCount
    color $lightgrey
    position absolute

    &.countDeck
      margin-top $v

    &.countHand
      left 0
      margin-left $h

    &.countDisc
      right 0
      margin-right $h

    &.countHand
    &.countDisc
      top 50%
      transform translate(0%, -50%);