
sideWidth = (100vh*400/988)

.Draft
  display grid
  grid-template:
    "title side side" 100px \
    "cards side side" 1fr \
    "nav   side side" 100px \
    / 1fr 150px sideWidth
  place-items center center

  width 100vw
  height 100vh

  .title
    grid-area title
    font-size 50px
    font-weight 100

  .hand
    grid-area cards
    display flex
    flex-direction row
    align-items center
    justify-content center
    place-self stretch stretch

    .DraftCard:not(:first-child)
      margin-left 1%
    
  & > .side
    grid-area side
    place-self stretch stretch
    display flex
    flex-direction row

    & > div
      width 50px
      height 100%
      border-left 3px solid $grey
      padding-left 47px
      position relative
      background $black

      transition flex-grow .5s

      &:not(.active)
        cursor pointer

      &.active
        flex-grow 1

      .cards
        display flex
        flex-direction row
        justify-content flex-start
        align-items flex-start
        align-content flex-start
        flex-wrap wrap
        width sideWidth
        height 100%

        .DraftCard
          width (sideWidth/2)
          img._
            position relative
            display inline
            margin-bottom -3.5%
            opacity 0
          img:not(._)
            position absolute
            left 0
            max-height none

      .side
        position absolute
        top 50%
        left 25px
        transform translate(-50%, -50%) rotate(-90deg)
        font-size 30px
        font-weight 100
        width 100vh
        display flex
        flex-direction row
        align-items center
        justify-content center

        span
          width 100px
          text-align center

        .AlignmentSquare
          margin-left 10px

  .nav
    grid-area nav
    background-color $black
    border 2px solid $grey
    max-width 300px
    width 100%
    height 50px
    color $lightgrey
    border-radius 10px
    font-size 20px

    &.enabled
      cursor pointer
      color $white
      border-color $white


.DraftCard
  max-width 200px
  cursor pointer
  flex 0 1 auto
  position relative
  img
    &._
      width 100%
      height auto
      display none
    &:not(._)
      width auto
      height auto
      max-height 100%
      max-width 100%
      border-radius 10px
      border 1px solid black
      .selected&
        border-color $white

