
.user
.hand
.deck
.disc
  transition border-color .2s

  &.o
    border-bottom 1px solid $grey
    .oGold ~ &
      border-color $yellow
  
  &.p
    border-top 1px solid $grey
    .pGold ~ &
      border-color $yellow