
.HPS
  display flex
  flex-direction row
  justify-content center
  align-items center

  background $black

  transition background .2s, border-radius .2s, border-color .2s

  &.o
    flex-direction row-reverse

  &.play
    .Card
    &.o .Card.inBattle
      align-self flex-end
  
    .Card.inBattle
    &.o .Card
      align-self flex-start
