
.NumberBadge
  width 40px
  height 40px

  border-radius 40px
  background-color $black

  z-index 1

  transition opacity .2s

  &.hoverIntent
    z-index 2

  .Badge
    position absolute
    bottom 0
    
    border-color inherit
    background-color inherit

    transition height .2s, bottom .2s, opacity .2s

    input
      width 40px
      height 25px

      background-color inherit
      text-align center
      color $lightgrey
      font-size 15px
      padding 3px
  
      flex 0 0 auto
  
      color inherit
      font-size inherit
  
      border none
  
    .a
      cursor pointer
      
    &.hoverIntent
      height 100px
      bottom -30px
