
.pInit ~
  .p.user
  .p.hand
    background $darkgrey
  .p.play
    border-radius 0 20px 0px 0
.oInit ~
  .o.user
  .o.hand
    background $darkgrey
  .o.play
    border-radius 0 0px 20px 0

.oTurn ~
  .o.supp
  .o.play
    background $darkgrey

.pTurn ~
  .p.supp
  .p.play
    background $darkgrey

.play
  border-radius 0 20px 20px 0