
.user
  display flex
  flex-direction column
  align-items center
  justify-content center

  .avatarGroup
    position relative

    display flex
    justify-content center

    width 178px
    max-width cardWidth

    .avatar
      border-radius 100%
      width 128px
      height 128px

    .gold
    .health
      position absolute
      bottom 0px

    .health
      right 0px

      border-color $green
      color $green

    .gold
      flex-direction row
      left 0px

      cursor pointer

      border-color $yellow
      color $yellow

      transition border-color .2s, color .2s

      &[data-g="0"]
        border-color $grey
        color $grey

      &:before
        content attr(data-g)
      &:after
        content attr(data-f)
        font-size 20px
        margin-left -2px
      
      for x in (('"G"' $good) ('"S"' $sage) ('"E"' $evil) ('"W"' $wild))
        &[data-f={x[0]}]
          color x[1]
          border-color @color

  .username
    color $white